{% extends 'base.html' %}
{% load static %}

{% block title %}Homepage{% endblock %}

{% block body %}
<h1>Página de Gerenciamento da loja</h1>

<p>Faturamento: {{ faturamento }}</p>
<p>Quantidade de Produtos: {{ quantidade_produtos }}</p>
<p>Quantidade de Pedidos: {{ quantidade_pedidos }} </p>

<hr>
<h3>Exportar Relatórios</h3>
<a href="{% url 'exportar_relatorio' 'pedidos' %}">Exportar Pedidos</a>
<a href="{% url 'exportar_relatorio' 'clientes' %}">Exportar Clientes</a>
<a href="{% url 'exportar_relatorio' 'enderecos' %}">Exportar Endereços</a>


{% endblock %}
