{% extends 'base.html' %}
{% load static %}

{% block title %}Homepage{% endblock %}

{% block body %}
<h1>Aqui vai ser página da loja</h1>

<div style="display: flex;">
    <form action="" method="post">
        {% csrf_token %}
        <p>Preço</p>
        <input type="number" name="preco_minimo" value={{ minimo }}>
        <input type="number" name="preco_maximo" value={{ maximo }}>
    
        <p>Tamanho</p>
        {% for tamanho in tamanhos %}
        <input type="radio" name="tamanho" value="{{ tamanho }}">
        <label for="{{tamanho}}">{{tamanho}}</label>
        {% endfor %}
    
        <p>Categoria</p>
        {% for categoria in categorias %}
        <input type="radio" name="categoria" value="{{ categoria.slug }}">
        <label for="{{categoria.slug}}">{{categoria.nome}}</label>
        {% endfor %}
    
    
        <p>Tipo</p>
        {% for tipo in tipos_nav %}
        <input type="radio" name="tipo" value="{{ tipo.slug }}">
        <label for="{{tipo.slug}}">{{tipo.nome}}</label>
        {% endfor %}
    
        <hr>
        <button type="submit">Aplicar Filtro</button>
    </form>
    
    
    
    
    <div style="padding-left: 50px;">
        Ordenar por:
        <ul>
            <li><a href="#" class="item-ordenar" name="menor-preco">Menor Preço</a></li>
            <li><a href="#" class="item-ordenar" name="maior-preco">Maior Preço</a></li>
            <li><a href="#" class="item-ordenar" name="mais-vendidos">Mais Vendidos</a></li>
        </ul>
        {% for produto in produtos %}
        <p>Produto: {{ produto.nome }}</p>
        <p>Preço: {{ produto.preco }}</p>
        
        <a href="{% url 'produto' produto.id %}"><img src="{{ produto.imagem.url }}" alt="" width="150" height="200"></a>
        
        <br>
        {% endfor %}
    </div>

</div> 
{% endblock %}
