{% extends 'base.html' %}
{% load static %}

{% block title %}{{ produto.nome }}{% endblock %}

{% block body %}

<h1>{{ produto.nome }}</h1>

{% if tem_estoque %}


<img src="{{ produto.imagem.url }}" alt="" width="150" height="200">

<br>

<p>Preço: {{ produto.preco }}</p>

{% if cor_selecionada %}
<p>Cor Selecionada:{{ cor_selecionada.nome }}</p>
{% endif %}


{% for cor in cores %}

<a href="{% url 'produto' produto.id cor.id %}">
    <i class="fa-solid fa-circle" style="color: {{ cor.codigo_hex }};"></i>
</a>

{% endfor %}

{% if tamanhos %}

<form method="POST" action="{% url 'adicionar_carrinho' produto.id %}">
    {% csrf_token %}
    <p>Selecione o tamanho:</p>
    
    {% for tamanho in tamanhos %}
    <input type="radio" name="tamanho" value="{{tamanho}}">
    <label for="{{tamanho}}">{{tamanho}}</label>
    {% endfor %}
    
    <input type="hidden" name="cor" value="{{cor_selecionada.id}}">
    <button type="submit">Adicionar ao carrinho</button>
</form>

{% endif %}



{% else %}

<p>Produto fora  de estoque</p>

{% endif %}

{% endblock %}