{% extends 'base.html' %}
{% load static %}

{% block title %}Reserva - Criar Conta{% endblock %}

{% block body %}

<main class="principal">
    <section class="conta">

        <div class="conta__container">
            <div class="checkout__titulos">
                <p class="checkout__titulo">Preencha os dados para criar sua conta.</p>
            </div>

            {% if erro == "email_invalido" %}
            <h3 style="color: red;">Seu e-mail está inválido, preecha novamente com outro e-mail.</h3>
            {% endif %}

            {% if erro == "usuario_existente" %}
            <h3 style="color: red;">Este e-mail ja existe em outra conta de usuário. <a href="{% url 'fazer_login' %}">Faça o Login.</h3>
            {% endif %}

            {% if erro == "senhas_diferentes" %}
            <h3 style="color: red;">A confirmação da senha tem que ser igual a senha</h3>
            {% endif %}

            {% if erro == "preenchimento" %}
            <h3 style="color: red;">Preencha todos os campos corretamente</h3>
            {% endif %}

            <form class="conta__form" action="{% url 'criar_conta' %}" method="post">
                {% csrf_token %}
                <div class="conta__item">
                    <label for="email">E-mail</label>
                    <input name="email" type="email" />
                </div>

                <div class="conta__item">
                    <label for="senha">Senha</label>
                    <input name="senha" type="password" />
                </div>

                <div class="conta__item">
                    <label for="confirmacao_senha">Confirmação da Senha</label>
                    <input name="confirmacao_senha" type="password" />
                </div>

                <button class="subtotal__botao" type="submit">
                    CRIAR CONTA
                </button>
            </form>
            <a href="{% url 'fazer_login' %}">Ja tem uma conta? Fazer Login</a>  
        </div>
    </section>
</main>
{% endblock %}
