{% extends 'base.html' %}
{% load static %}

{% block title %}Homepage{% endblock %}

{% block body %}

<main class="principal">
    <section class="conta">

        <div class="conta__container">
            <div class="checkout__titulos">
                <p class="checkout__titulo">Preencha os dados para fazer o Login.</p>
            </div>

            {% if erro %}
            <h3 style="color: red;">Credenciais inválidas, tente novamente ou crie uma conta</h3>
            {% endif %}

            <form class="conta__form" action="{% url 'fazer_login' %}" method="post">
                {% csrf_token %}
                <div class="conta__item">
                    <label for="email">E-mail</label>
                    <input name="email" type="email" />
                </div>

                <div class="conta__item">
                    <label for="senha">Senha</label>
                    <input name="senha" type="password" />
                </div>

                <button class="subtotal__botao" type="submit">
                    LOGIN
                </button>
            </form>
            <a href="{% url 'criar_conta' %}">Não tem uma conta? Criar conta</a>
            <a href="{% url 'password_reset' %}">Esqueci minha senha</a>    
        </div>
    </section>
</main>


{% endblock %}
